/* CSS Document */
body{
	margin: 0;
	width: 100%;
}

#header{
	text-align: center;
	background-color: grey;
}

#header h1{
	margin-bottom: 0px;
	margin-top: 0px;
}

#header p{
	margin-top: 10px;
}

#main{
	margin-top: 20px;
}

#main_article{
	background-color: #E1E1E1;
	margin: 0 200px 0 150px;
	height: 400px;
	min-width: 160px;
	border-radius: 5px;
	position: relative;
}

#main_article_top{
	background-color: grey;
	height: auto;
	border-radius: 5px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

 #user_card img{
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	float: left;
	/*position: relative;*/

}

#user_info{
	float: left;
	color: white;
	margin: 0px;
}

#operation{
	position: absolute;
	bottom: 0;
}

#operation input{
	width: 25px;
	height: 25px;
	padding: 0 0 10px 10px;
}
