#leftsidebar{
	float: left;
	width: 100px;

}

#leftsidebar li{
	list-style-type: none;
	background-color: black;
	padding: 15px;
}

#leftsidebar li:hover{
	background-color:#3974EE;
}

#leftsidebar a{
	text-decoration: none;
	color: white;
}

#leftsidebart a:hover {
	color: black;
	font-weight: bolde;

}

#theme{
	width: 50px;
	height: 50px;
	bottom: 0;
	margin-bottom: 20px;
	margin-left: 20px;
	position: absolute;
	cursor: default;
}
