#nav{
	background-color: black;
	width: 100%;
	height: 50.8px;
	position: relative;
}

#nav li{
	list-style-type: none;
	float: left;
	background-color: black;
	padding: 15px;
}

#nav li:hover{
	background-color:#3974EE;
}

#nav a{
	text-decoration: none;
	color: white;
}

#nav a:hover{
	color: black;
	font-weight: bolde;

}

.nav-right{
	position: absolute;
	top: 0;
	right: 0;
} 

/*
#searchText{
	border-radius: 10px;
	width: 200px;
	height: 30px;
}

#lInput{
	min-width: 0px;
}

#lInput li{
	padding-bottom: 0px;
	padding-top: 12px;
}

#lInput li:hover{
	background-color: black;
}*/
